.policy {
   @include adaptiveValue("padding-top", 100, 40);
   @include adaptiveValue("padding-bottom", 120, 40);
   &__title {
      @include adaptiveValue("font-size", 60, 30);
      @include adaptiveValue("padding-bottom", 100, 30);
   }

   &__strip {
      display: block;
      width: 100%;
      height: 1px;
      background-color: $goldColor;
   }

   &__text {
      @include adaptiveValue("padding-top", 85, 15);
   }

   &__link {
      @include adaptiveValue("margin-top", 85, 15);
      width: max-content;
   }
}
.error {
   @include adaptiveValue("padding-top", 100, 40);
   @include adaptiveValue("padding-bottom", 120, 40);
   &__title {
      @include adaptiveValue("font-size", 70, 40);
      @include adaptiveValue("padding-bottom", 80, 30);
      @media (max-width: 768px) {
         max-width: 320px;
      }
   }

   &__link {
      width: max-content;
   }
}
