//====================================================================================================

//====================================================================================================

.footer {
   padding: 60px 0;
   background-color: $bordeauxColor;
   &__container {
      max-width: 1820px;
   }

   &__top {
      justify-content: space-between;
      display: flex;
      align-items: start;
   }
   &__links {
      display: flex;
      flex-direction: column;
      gap: 20px;
   }

   &__link {
      text-align: right;
      @include adaptiveValue("font-size", 20, 10);
      font-weight: 500;
      letter-spacing: 0.02em;
      text-align: right;
      display: flex;
      align-items: center;
      justify-content: end;
      gap: 6px;
      transition: color 0.3s ease 0s;
      html.pc &:hover {
         color: $goldColor;
      }
      div {
         @include adaptiveValue(" font-size", 24, 12);
         color: $goldColor;
      }
   }

   &__bottom {
      padding-top: rem(45);
      display: flex;
      justify-content: space-between;
   }

   &__policy {
      font-weight: 500;
      @include adaptiveValue("font-size", 20, 9);
      line-height: 160%;
      letter-spacing: 0.1em;
      transition: color 0.3s ease 0s;
      html.pc &:hover {
         color: $goldColor;
      }
   }
   &__text {
      color: $grayColor;
      @include adaptiveValue("font-size", 16, 7);
      font-style: normal;
      font-weight: 600;
      line-height: 200%;
      letter-spacing: 0.24px;
      display: flex;
      align-items: end;
   }
   @media (max-width: 991px) {
      &__icon {
         display: none;
      }
      &__request {
         display: none;
      }
   }
   @media (max-width: 768px) {
      &__links {
         gap: 15px;
      }
      &__logo-img {
         height: 65px;
      }
      &__bottom {
         padding-top: 30px;
      }
      &__logo-text {
         line-height: 120%;
         font-size: 14px;
         max-width: 144px;
         padding-bottom: 10px;
      }
   }
   @media (max-width: 650px) {
      padding: 30px 0;
      &__logo-img {
         height: 50px;
      }
      &__logo-text {
         max-width: 80px;
         padding-left: 12px;
         padding-bottom: 12px;
         font-size: 10px;
      }
   }
   @media (max-width: 425px) {
      &__logo-text {
         font-size: 9px;
      }
   }
   @media (max-width: 320px) {
      &__logo-text {
         font-size: 8px;
      }
   }
}

//====================================================================================================
