//====================================================================================================
.header {
	position: sticky;
	z-index: 3;
	width: 100%;
	top: rem(0);
	padding: rem(40) 0;
	background: rgba(17, 32, 0, 0.9);
	&__container {
		display: flex;
		justify-content: space-between;
		align-items: center;
		max-width: rem(1820);
	}
	&__back {
		display: none;
	}
	&__request {
		gap: 0 !important;
		span {
			transition: 0.3s ease 0s;
			opacity: 0;
			font-size: 0;
		}
	}
	.filter__currency-box {
		display: none;
	}
	&__content {
		display: flex;
		align-items: center;
		gap: rem(25);
	}

	@media (max-width: rem(991)) {
		padding: rem(20) 0;
		&__logo-text {
			display: none;
		}
		&__logo-img {
			height: rem(65);
		}
		&__content {
			@include adaptiveValue("gap", 25, 10, 992, 319);
		}
	}
	@media (max-width: rem(768)) {
	}
	@media (max-width: rem(650)) {
		height: 85px;
		padding: rem(15) 0;
		&__container {
			height: 100%;
		}
		&__phone {
			display: none;
		}
		&__logo-img {
			height: rem(55);
		}
		&__body {
			padding: 0 rem(20);
		}
		&__request {
			max-height: 41px;
			padding: rem(10) rem(20);
			gap: rem(10);
		}
	}
	@media (max-width: rem(320)) {
		&__container {
			padding: 0 rem(20);
		}
		&__content {
			gap: rem(10);
		}
		&__body {
			min-width: none;
			width: 100%;
		}
	}
}

html.menu-open {
	& .menu__body {
		overflow-x: hidden;
		transform: translateX(-100%);
	}
	& .menu::before {
		visibility: inherit;
		background-color: rgba(25, 45, 34, 0.9);
	}
}

html.lock {
	& .menu__body {
		visibility: visible;
		opacity: 1;
	}
}

html._currency-mob {
	.header .filter__currency-box {
		display: block;
		.filter__currency-select {
			min-width: 41px;
			min-height: 41px;
		}
		.select__option {
			font-size: rem(14);
		}
	}
	.menu__icon {
		display: none !important;
	}
	@media (max-width: 359px) {
		.header__request {
			p {
				display: none;
			}
			span {
				opacity: 1;
				font-size: 16px;
			}
		}
	}
}

._spoller-init {
	button {
		display: inline-block;
	}
}

.spoller {
	cursor: default;
	text-align: left;
	padding-right: rem(25);
	border-radius: rem(5);
	position: relative;
	._spoller-init & {
		cursor: pointer;
		&::before,
		&::after {
			content: "";
			position: absolute;
			right: rem(5);
			top: 40%;
			background-color: $mainColor;
			height: rem(2);
			width: rem(8);
			border-radius: rem(1);
			transition: background-color 0.3s ease 0s, transform 0.3s ease 0s;
		}
		&::before {
			transform: translate(-65%, -50%) rotate(40deg);
		}
		&::after {
			transform: translate(0, -50%) rotate(-40deg);
		}
		&._spoller-active {
			&::before {
				background-color: $goldColor;
				transform: translateX(-65%) rotate(-40deg);
			}
			&::after {
				background-color: $goldColor;
				transform: rotate(40deg);
			}
		}
	}
}

.menu {
	&__wrapper {
		padding-top: 125px;
		justify-content: start;
	}
	&__nav {
		flex: 1 1 auto;
	}
	&__links {
		display: grid;
		grid-template-columns: max-content max-content max-content;
		grid-template-rows: auto auto auto;
		column-gap: 60px;
		row-gap: 30px;
		li {
			grid-column: span 1;
		}
	}
	&__icon {
		display: flex;
		align-items: center;
		svg line {
			transition: 0.3s ease 0s;
		}
		svg {
			fill: transparent;
			transition: 0.3s ease 0s;
			html.pc &:hover {
				fill: $goldColor;
				line {
					stroke: $darkGreenColor;
				}
			}
		}
		@media (max-width: rem(650)) {
			svg {
				width: rem(40);
				height: rem(40);
			}
		}
		&:active,
		&:focus {
			outline: none;
		}
	}
	&__link {
		transition: color 0.3s ease 0s;
		color: $mainColor;
		font-size: rem(20);
		font-weight: 500;
		line-height: 100%;
		letter-spacing: em(2);
		text-transform: uppercase;
		transition: color 0.3s ease 0s;
		width: max-content;
		display: flex;
		gap: rem(15);
		align-items: center;
		img {
			width: rem(30);
		}
		html.pc &:hover {
			color: $goldColor;
			&::before,
			&::after {
				background-color: $goldColor;
			}
		}
		&:active,
		&:focus {
			outline: none;
		}
	}
	@media (max-width: 1200px) {
		&__links {
			grid-template-columns: max-content max-content;
		}
	}
	@media (max-width: 991px) {
		&__wrapper {
			padding-top: 75px;
		}
		&__links {
			grid-template-columns: max-content;
			grid-template-rows: auto auto auto;
			column-gap: 60px;
		}
	}

	@media (max-width: rem(768)) {
		&__link {
			@include adaptiveValue("font-size", 20, 13, 769, 319);
		}
	}
	@media (max-width: rem(650)) {
		&__links {
			gap: 20px;
		}
		&__wrapper {
			padding-top: 58px;
		}
		&__link {
			img {
				width: rem(20);
			}
		}
	}
	@media (max-width: rem(320)) {
		&__link {
			font-size: rem(13);
		}
	}
}
